@import url('https://fonts.googleapis.com/css2?family=Domine&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: rgb(255, 252, 248);
}

#grid_wrapper {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh 51vh 170vh 20vh;
    grid-template-areas: 
        "na he"
        "s1 s1"
        "s2 s2"
        "fo fo"
        ;
}

header {
    grid-area: he;
    background: rgb(242, 239, 235);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

h1 a {
    font-family: 'Domine', serif;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

#search_shopping_icons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bag_icon, #search_icon {
    height: 45%;
}

#bag_icon:hover, #search_icon:hover {
    cursor: pointer;
    background: rgb(212, 208, 202);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(242, 239, 235);
    grid-area: na;
    position: sticky;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    top: 0;
}

#link_list {
    background: rgba(224, 219, 213, 0.95);
    height: 400px;
    width: 150px;
    position: absolute;
    top: 10vh;
    left: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
}

#link_list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Domine', serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#burger div {
    width: 30px;
    height: 2px;
    background-color: rgb(55, 55, 55);
    margin: 7px;
    border-radius: 20%;
    transition: all 0.5s;
}

#burger {
    margin-right: 5px;
    cursor: pointer;
}

.link_list_visible {
    transform: translateX(150px)
}

#link_list a:hover {
    text-decoration: underline;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: rotate(-45deg) translate(-3px, 10px);
    margin-right: 15px;

}

.burger_in_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-3px, -10px);
    margin-right: 15px;
}

#section_1 {
    grid-area: s1;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(169, 176, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

#front_text, #about_front_text, #blog_front_text {
    height: 50%;
    width: 70%;
    background: rgb(242, 239, 235);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.s1_text {
    font-family: 'Domine', serif;
    font-size: 1.7rem;
    width: 78%;
    text-align: center;
}

#section_2, #about_s2 {
    border-top: solid 1px rgb(212, 208, 202);
    border-bottom: solid 1px rgb(212, 208, 202);
    margin-bottom: 5px;
    grid-area: s2;
    background: rgb(211, 219, 228);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section_header {
    font-family: 'Domine', serif;
    font-size: 1.5rem;
}

#section_2 .section_header {
    margin-top: 20px;
}

#popular_products {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popular_product_card {
    background: rgb(242, 239, 235);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 32%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.popular_product_card:hover, .clothing_product_card:hover, .ami_product_card:hover, #post_1:hover, .post_2_3:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.product_img {
    width: 80%;
    height: auto;
}

.product_info {
    border: solid 1px rgb(212, 208, 202);
    background: rgb(255, 252, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_header {
    margin: 5px;
    font-family: 'Domine', serif;
    font-size: 1.2rem;
}

.product_text {
    margin: 5px;
    font-family: 'Oxygen', sans-serif;
}

footer {
    grid-area: fo;
    background: rgb(242, 239, 235);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgb(212, 208, 202);
}

#footer_info {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

footer a {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

#social_media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

#social_media_icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 60%;
}

.icons {
    height: 70%;
    width: auto;
}

.icons:hover {
    background: rgb(212, 208, 202);
    cursor: pointer;
}

#clothing_grid_wrapper {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh 75vh 320vh 20vh;
    grid-template-areas: 
        "na he"
        "s1 s1"
        "s2 s2"
        "fo fo"
        ;
}

#clothing_s1, #amigurumi_s1, #about_s1, #blog_s1 {
    grid-area: s1;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(169, 176, 184);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#clothing_information, #amigurumi_information, #about_information {
    background: rgb(242, 239, 235);
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#clothing_products, #amigurumi_products, #blog_s2 {
    grid-area: s2;
    background: rgb(211, 219, 228);
    border-top: solid 1px rgb(212, 208, 202);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.clothing_product_card, .ami_product_card {
    background: rgb(242, 239, 235);
    width: 70%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.ami_product_card {
    height: 23%;
}

#amigurumi_grid_wrapper {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh 75vh 210vh 20vh;
    grid-template-areas: 
        "na he"
        "s1 s1"
        "s2 s2"
        "fo fo"
        ;
}

#about_grid_wrapper {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh 35vh 80vh 35vh 20vh;
    grid-template-areas: 
        "na he"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "fo fo"
        ;  
}

#about_s3 {
    grid-area: s3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_img {
    height: auto;
    width: 95%;
    border: solid 1px rgb(212, 208, 202);
}

#blog_grid_wrapper {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh 35vh 114vh 210vh 20vh;
    grid-template-areas: 
        "na he"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "fo fo"
        ;  
}

#post_1, .post_2_3 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(242, 239, 235);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.post_2_3 {
    height: 45%;
}

#project_1, #project_2, #project_3 {
    width: 100%;
    height: auto;
    border: solid 1px rgb(212, 208, 202);
}

#blog_s2 {
    margin-bottom: 0;
}

#blog_s3 {
    grid-area: s3;
    background: rgb(211, 219, 228);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

@media screen and (min-width: 700px) {
    
    #grid_wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 100px 50px 70vh 90vh 25vh;
        grid-template-areas: 
            "he"
            "na"
            "s1"
            "s2"
            "fo"
            ;
    }
    
    h1 a {
        font-size: 2.6rem;
    }

    #search_shopping_icons {
        width: 40%;
        justify-content: flex-end;
    }
    
    nav {
        justify-content: flex-end;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        top: 100px;
    }
    
    #link_list {
        height: 50px;
        width: 100%;
        top: 0px;
        left: 0px;
        flex-direction: row;
        transition: none;
    }

    #burger {
        display: none;
    }
    
    .s1_text {
        font-size: 3.5rem;
        width: 80%;
    }
    
    .section_header {
        font-size: 2rem;
    }

    #popular_products {
        flex-direction: row;
    }
    
    .popular_product_card {
        width: 30%;
        height: 90%;
    }
    
    .product_img {
        width: 75%;
    }
    
    footer {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .icons {
        height: 85%;
    }

    #clothing_grid_wrapper, #amigurumi_grid_wrapper {
        grid-template-columns: 20% 80%;
        grid-template-rows: 100px 50px 153vh 25vh;
        grid-template-areas: 
            "he he"
            "na na"
            "s1 s2"
            "fo fo"
            ;
    }

    #clothing_s1 h2, #amigurumi_s1 h2 {
        text-align: center;
    }
    
    #clothing_information, #amigurumi_information {
        height: 70%;
    }
    
    #clothing_products, #amigurumi_products {
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 5px;
        margin-left: 5px;
    }
    
    .clothing_product_card, .ami_product_card {
        width: 30%;
        height: 40%;
    }

    .ami_product_card {
        margin: 50px;
    }

    #about_grid_wrapper {
        grid-template-columns: 40% 60%;
        grid-template-rows: 100px 50px 50vh 70vh 25vh;
        grid-template-areas: 
            "he he"
            "na na"
            "s1 s1"
            "s2 s3"
            "fo fo"
    }

    #about_front_text {
        width: 60%;
    }

    #about_img {
        height: auto;
        width: 70%;
    }
    
    #blog_grid_wrapper {
        grid-template-columns: 40% 60%;
        grid-template-rows: 100px 50px 50vh 142vh 25vh;
        grid-template-areas: 
            "he he"
            "na na"
            "s1 s1"
            "s2 s3"
            "fo fo"
    }

    .post_2_3 {
        flex-direction: row;
    }

    #blog_s2 {
        margin-bottom: 5px;
    }

    #project_2, #project_3, .post_2_3 .product_info {
        height: 100%;
        width: auto;
    }
}